absl-py==1.4.0
aiofiles==23.2.1
aioftp==0.21.4
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
ansi2html==1.8.0
anyio==3.7.1
asdf-astropy==0.4.0
asdf-coordinates-schemas==0.2.0
asdf-standard==1.0.3
asdf-transform-schemas==0.3.0
asdf-unit-schemas==0.1.0
asdf-wcs-schemas==0.1.1
asdf==2.15.1
astroalign==2.4.2
astroml==1.0.2.post1
astroplan==0.9
astropy==5.3.3
astroquery==0.4.6
astroscrappy==1.1.0
asttokens==2.4.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.4
backcall==0.2.0
beautifulsoup4==4.12.2
bidict==0.22.1
blinker==1.6.2
bokeh==3.2.2
cachetools==5.3.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
comm==0.1.4
constants==0.6.0
contourpy==1.1.0
cycler==0.11.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.13.0
decorator==5.1.1
dill==0.3.7
docx==0.2.4
ephem==4.1.4
et-xmlfile==1.1.0
executing==1.2.0
fairscale==0.4.13
fastapi==0.103.2
ffmpy==0.3.1
filelock==3.12.3
fire==0.5.0
flask-sqlalchemy==3.1.1
flask==2.2.5
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.0
gast==0.4.0
google-auth-oauthlib==1.0.0
google-auth==2.22.0
google-pasta==0.2.0
gradio-client==0.6.0
gradio==3.47.1
greenlet==2.0.2
grpcio==1.58.0
gwcs==0.18.3
h11==0.14.0
h5py==3.9.0
html5lib==1.1
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.16.4
idle==1.0.4
idna==3.4
imageio==2.31.3
importlib-metadata==6.8.0
importlib-resources==6.1.0
iniconfig==2.0.0
install==1.3.5
interchange==2021.0.4
ipython==8.15.0
ipywidgets==8.1.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.0
jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema-specifications==2023.7.1
jsonschema==4.19.0
jupyterlab-widgets==3.0.8
keras-tuner==1.3.5
keras==2.13.1
keyring==24.2.0
kiwisolver==1.4.5
kt-legacy==1.0.5
lazy-loader==0.3
libclang==16.0.6
lxml==4.9.3
markdown==3.4.4
markupsafe==2.1.3
matplotlib-inline==0.1.6
matplotlib==3.7.2
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
mysql-connector-python==8.0.29
mysql-connector==2.2.9
mysqlclient==2.2.0
ndcube==2.1.3
neo4j==5.12.0
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
numpy==1.24.3
o365==2.0.28
oauthlib==3.2.2
openai==0.28.0
opencv-python==4.8.0.76
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.8
packaging==23.1
pandas==2.1.0
pansi==2020.7.3
parfive==2.0.2
parso==0.8.3
patsy==0.5.3
pbr==5.11.1
photutils==1.9.0
pickleshare==0.7.5
pillow==10.0.0
pip==23.2.1
plotly==5.16.1
pluggy==1.3.0
ply==3.11
prompt-toolkit==3.0.39
protobuf==4.24.3
psutil==5.9.5
pure-eval==0.2.2
py2neo==2021.2.3
pyasn1-modules==0.3.0
pyasn1==0.5.0
pyastronomy==0.19.0
pycodestyle==2.11.0
pydantic-core==2.10.1
pydantic==2.4.2
pydocx==0.9.10
pydot==1.4.2
pydub==0.25.1
pyerfa==2.0.0.3
pygments==2.16.1
pylatexenc==2.10
pymssql==2.2.8
pymysql==1.1.0
pyodbc==4.0.39
pyparsing==3.0.9
pyqt5-qt5==5.15.2
pyqt5-sip==12.12.2
pyqt5==5.15.9
pyqtwebengine-qt5==5.15.2
pyqtwebengine==5.15.6
pytest==7.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-multipart==0.0.6
pytz-deprecation-shim==0.1.0.post0
pytz==2023.3.post1
pyvo==1.4.2
pywavelets==1.4.1
pywin32-ctypes==0.2.2
pywin32==306
pyyaml==6.0.1
qiskit-aer==0.12.2
qiskit-terra==0.25.1
qiskit==0.44.1
quantities==0.14.1
rdflib==7.0.0
referencing==0.30.2
regex==2023.8.8
requests-oauthlib==1.3.1
requests==2.31.0
retrying==1.3.4
rpds-py==0.10.2
rsa==4.9
rustworkx==0.13.1
safetensors==0.3.3
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
semantic-version==2.10.0
sentencepiece==0.1.99
sep==1.2.1
setuptools==65.5.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sparqlwrapper==2.0.0
specutils==1.11.0
sqlalchemy==2.0.20
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.0
stevedore==5.1.0
stringcase==1.2.0
sunpy==5.0.0
sympy==1.12
tenacity==8.2.3
tensorboard-data-server==0.7.1
tensorboard==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.13.0
termcolor==2.3.0
textblob==0.17.1
threadpoolctl==3.2.0
tifffile==2023.8.30
tk==0.1.0
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.33.2
typing-extensions==4.8.0
tzdata==2023.3
tzlocal==4.3.1
urllib3==1.26.16
uvicorn==0.23.2
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
werkzeug==2.2.3
wheel==0.41.2
widgetsnbextension==4.0.8
wikipedia-api==0.6.0
wrapt==1.15.0
xlrd==2.0.1
xlsxwriter==3.1.3
xyzservices==2023.7.0
yarl==1.9.2
zipp==3.16.2
